body {
  background-color: grey;
}

h1 {
  font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

li {
    display: inline;
    margin-right: 70px;
}

a {
  font-size: 15px;
  text-decoration: none;
}

.image {
  background-image: url("helping-hands.jpg");
  height: 500px;
  position:relative;top:100px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid black;
  background-size: cover;
}

.texte {
  font-size: 15px;
  border: 1px solid black;
  width: 300px;
  position: relative;left: 50px;
  position: relative;top: 50px;
  text-align: center;
  background-color: #ffffff;
}

.case {
  text-align: center;
  position: relative;top: 125px;
  font-size: 15px;
}

.text {
  text-align: center;
  position: relative;top: 125px;
  font-size: 13px;
}

.li {
    list-style: none;
    display: inline-block;
    position: relative;top: 125px;
    font-size: 15px;
  }

  li p {
    font-size: 13px;
    text-align: center;
  }
